.Search {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background: rgb(0, 119, 255);
    padding: 20px 0;
}

.Search_input {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 5px;
}

.Search_send {
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}