.MainInfo_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.MainInfo_card {
    position: relative;
    width: max-content;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 6px 4px 15px -1px rgba(0,0,0,0.75);
}

.MainInfo_city {
    font-size: 2em;
    text-align: center;
    margin: 0;
}

.MainInfo_list-indication {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.MainInfo_item-indication {
    font-size: 1.5em;
    padding: 10px 10px 0;
}

.MainInfo_item-close {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}